<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Home</string>
		<key>latitude</key>
		<real>40.7773054</real>
		<key>longitude</key>
		<real>-73.92215729999999</real>
		<key>radius</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Workbridge</string>
		<key>latitude</key>
		<real>40.754431</real>
		<key>longitude</key>
		<real>-73.9785919</real>
		<key>radius</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Union Square Greenmarket</string>
		<key>latitude</key>
		<real>40.736722</real>
		<key>longitude</key>
		<real>-73.99022600000001</real>
		<key>radius</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Tompkins Square Greenmarket</string>
		<key>latitude</key>
		<real>40.736722</real>
		<key>longitude</key>
		<real>-73.99022600000001</real>
		<key>radius</key>
		<integer>50</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Greenmarket</string>
		<key>latitude</key>
		<real>40.7413719</real>
		<key>longitude</key>
		<real>-73.99112719999999</real>
		<key>radius</key>
		<integer>50</integer>
	</dict>
</array>
</plist>
